<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="admin_sellers_listing_data_source" xsi:type="string">Ranosys\Custom\Model\ResourceModel\Seller\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ranosys\Custom\Model\ResourceModel\Seller\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blog_table</argument>
            <argument name="resourceModel" xsi:type="string">Ranosys\Custom\Model\ResourceModel\Seller</argument>
        </arguments>
    </virtualType>
</config>